table {
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    background: #FFFFFF;
    font-size: 12px;

}

.outer {
    width: 80% !important;
    
}


.header {
    padding: 14px;
}